{% extends 'base.html' %}

{% block title %} Edit Employee Information {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg --bs-body-bg-rgb ms-lg-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/maps">SY</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/maps">Distribution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newemployee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newemployee">Statistics</a>
        </li>
      </ul>
    </div>
    {% if current_user.is_authenticated %}
    <div class="d-inline-block">
      <img
        src="/static/img/default.svg"
        width="50px"
        height="40px"
        class="btn"
        type="button"
        aria-expanded="false"
      />
      <a
        href="/logout"
        class="link-underline link-underline-opacity-0 link-dark"
        >Logout</a
      >
    </div>
    {% endif %}
  </div>
</nav>

<div class="text-center mx-auto mb-4 mt-4 font-monospace">
  <h3>Edit Employee Details</h3>
</div>

<form action="/maps/{{id}}/edit" method="POST" class="row g-3 col-6 mx-auto mb-5">
  <div class="col-6">
    <label for="id" class="form-label">ID</label>
    <input
      type="number"
      name="id"
      id="id"
      value="{{id}}"
      disabled
      class="form-control"
      aria-describedby="name"
      required
    />
  </div>
  <div class="col-6">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      value="{{name}}"
      class="form-control"
      aria-describedby="name"
      required
    />
  </div>
  <div class="col-6">
    <label for="inputPassword4" class="form-label">Cell</label>
    <input
      class="form-control"
      type="tel"
      name="cell"
      id="cell"
      pattern="\([0-9]{3}\)-[0-9]{3}-[0-9]{4}"
      value="{{cell}}"
      required
    />
  </div>
  <div class="col-6">
    <label for="inputPassword4" class="form-label"
      >Total packages delivered</label
    >
    <input
      type="number"
      name="delivered"
      value="{{delivered}}"
      class="form-control"
      aria-describedby="name"
      required
    />
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      value="{{address1}}"
      name="address1"
    />
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      value="{{address2}}"
      name="address2"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input
      type="text"
      class="form-control"
      id="inputCity"
      name="city"
      required
      value="{{city}}"
    />
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      name="address2"
      value="CA"
      required
    />
  </div>
  <div class="col-md-2 mb-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input
      type="text"
      class="form-control"
      id="inputZip"
      name="zip"
      required
      value="{{postalCode}}"
    />
  </div>
  <div class="col mt-3 mx-auto">
    <button type="submit" class="btn btn-primary col-12">
      Update Employee Details
    </button>
  </div>
</form>

{% endblock %}
