{% extends 'base.html' %}
{% block title %} Mapping {% endblock %}
{% block body %}

<h1>Driver Locations</h1>
<section class="map">
  <div id="map"></div>
</section>


<script>
  const warehouses = [
    {
      "employee_id": 1,
      "order_id": 1,
      "warehouse_name": "Griffth",
      "warehouse_location": "2800 E Observatory Ave, Los Angeles, CA 90027",
      "coord": {"lat": 34.118378, "lng": -118.300352}
    },
    {
      "employee_id": 2,
      "order_id": 2,
      "warehouse_name": "Urban Light",
      "warehouse_location": "5905 Wilshire Blvd, Los Angeles, CA 90036",
      "coord": {"lat": 34.064251, "lng": -118.360565}
    }
  ]

  async function initMap() {
    const { Map, InfoWindow } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
    const infoWindow = new InfoWindow();

    // Map and its center
    const la = {lat:34.052235, lng:-118.243683};
    const map = new google.maps.Map(
      document.querySelector('#map'), {zoom:10, center:la}
    );

    //Create Markers
    //Center LA Marker
    let laMarker = new google.maps.Marker({position:la, map:map});
    laMarker.addListener("click", () => {
      infoWindow.open({
        anchor: laMarker,
        map,
      });
      infoWindow.setContent("You are in LA!")
    });
    //Warehouses Marker
    for (let warehouse of warehouses){
      let location = warehouse["coord"];
      let warehouseMarker = new google.maps.Marker({position: location, map:map, icon:{url:'/static/img/R.svg', scaledSize: {width: 30, height: 30,}}})
      warehouseMarker.addListener("click", () => {
      infoWindow.open({
        anchor: warehouseMarker,
        map,
      });
      infoWindow.setContent("I'm a warehouse")
    });
    }
    //Driver Marker
    fetch('/map')
      .then((response) => response.json())
      .then((responseData) => {
        for(let i=0; i<responseData.length; i++){
          let driverMarker = new google.maps.Marker({position: responseData[i], map:map, icon:{url:'/static/img/R.svg', scaledSize: {width: 30, height: 30,}}})
          driverMarker.addListener("click", () => {
            infoWindow.open({
              anchor: driverMarker,
              map,
            });
            infoWindow.setContent("I'm a driver")
          });
        }
      })



  }

</script>

<!-- <script src="/static/js/map.js"></script> -->
<script
  async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABVLqKXuX8k_JDyL9dWR7jIZxs_XV9fhg&callback=initMap">
</script>
{% endblock %}